<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Import necessary links for using Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--Set information on viewing/size of the screen -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import files, like CSS style sheet and the necessary p5js libraries. -->
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/libraries/p5.min.js"></script>
    <script src="/static/libraries/p5.sound.min.js"></script>
    <!-- Create an icon for the browser. -->
    <link rel="icon" href="/static/icon.png">
    <title>Conway's Game of Life</title>
  </head>

  <body>
    <!-- Create a navigation bar with interesting links to learn more about John Conway and the Game of Life. -->
    <nav class="navbar navbar-expand-lg navbar-light style="background-color: #FFFFFF;>
      <a class="navbar-brand" href="#">Conway's Game of Life</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="https://en.wikipedia.org/wiki/John_Horton_Conway">Who was John Conway?</a>
          <a class="nav-item nav-link active" href="https://www.nytimes.com/2020/12/28/science/math-conway-game-of-life.html">Why does the Game of Life matter?</a>
          <a class="nav-item nav-link active" href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life#Examples_of_patterns">Spaceships</a>
        </div>
      </div>
    </nav>
    <!-- The instructions to playing the game. -->
    <h3>How to Play</h3>
    <p>Each square represents a population of animals (like bunnies!). Select different populations of these animals and see how, over the course of multiple generations, they live or die. </p>
    <p>There are a few rules to living or dying in this simulation: </p>
    <ol>
      <li>Any population with less than two live neighbors dies by underpopulation.</li>
      <li>Any population with more than three live neighbors dies by overpopulation.</li>
      <li>Any population with two or three neighbors lives!</li>
      <li>Any population with three neighbors that is dead can come back to life!</li>
    </ol>
    <p>Live populations are in green, and dead populations are red. After selecting the live populations, choose how many generations you want this simulation to run for. Then, hit start to see what happens! After your simulation is done, press restart to try a different pattern of live populations.</p>
    <!-- Import the p5js script that will run the game. -->
    <script type="text/javascript" src="/static/sketch.js"></script>
  </body>
</html>
